{% extends 'base.html' %}

{% block title %}Create Lecture{% endblock %}

{% block content %}
{% if user.is_authenticated %}

  <h2>Create A Lecture</h2>

  <form action="{% url 'create_lecture' %}" method="post">
    {% csrf_token %}
    <label for="choice">Which Class:</label><br>

    {% for course in courses %}
        <input type="radio" id="choice{{ forloop.counter }}" name="choice" value="{{ course.course_id }}">
        <label for="choice{{ forloop.counter }}">
            {{ course.course_id }} - {{ course.start_time }} to {{ course.end_time }} on {{ course.days }}
        </label><br>
    {% endfor %}

    <input type="submit" value="Create Lecture">
  </form>

{% else %}
  <p>Please log in to create a lecture.</p>
{% endif %}
{% endblock %}
